<style>
.image{
    display:block; margin:10px 0px; border:1px solid #8a6d97; padding:7px 10px; border-radius:3px; -moz-border-radius:3px;
}
.image .tombol {
    background:#8a6d97; /* Warna tombol */
    color:#fff; /* Warna tulisan di tombol */
    display:inline-block; cursor:pointer; font:normal 600 14px Tahoma,sans-serif; padding:0px; border:none; outline:none; line-height:20px; border-radius:3px; -moz-border-radius:3px;
}
.image .tombol:focus {
    pointer-events:none;
}
.image .tombol:before {
    content:'Open'; /* Tulisan untuk membuka tombol */
    display:inline-block; padding:7px 10px; border-radius:3px; -moz-border-radius:3px;
}
.image .tombol:focus::before {
    content:'Close'; /* Tulisan untuk menutup tombol */
    background:#8a6d97; /* Warna tombol ketika spoiler terbuka */
    color:#fff
}
.image .isi {
    background:transparent; /* Warna background isi spoiler */
    pointer-events:auto; visibility:hidden; opacity:0; height:0px; transition:all .5s ease;
    border:1px solid #8a6d97;
}
.image .tombol:focus + .isi {
    visibility:visible; opacity:1; height:auto; margin:10px 0px 5px; padding:10px 15px; transition:all .5s ease;
}
</style>
